
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: -0.01em;
}

h1, h2, h3, h4 {
  letter-spacing: -0.02em;
}

p {
  line-height: 1.6;
}

::selection {
  background: #9CAB84;
  color: white;
}